h1{
    margin-bottom: 25px;
}


@media(min-width: 768px) {
    h1{
        margin-bottom: 35px;
        font-size: 28px;
    }
    

}

@media(min-width: 1024px) {
    h1{
        margin-bottom: 50px;
    }

}

